<section class="sec01">
    <div class="sec01_wrap">
        <p>Ceramidin collection</p>
        <a href="#" class="m-banner"><img src="/images/main/main_sec01_1.jpg" alt="m-banner"></a>
        <div class="sec01_flex">
            <div>
                <a href="#"><img src="/images/main/main_sec01_2.jpg" alt="s-banner"></a>
                <a href="#"><img src="/images/main/main_sec01_3.jpg" alt="s-banner"></a>
            </div>
            <div>
                <a href="#"><img src="/images/main/main_sec01_4.jpg" alt="s-banner"></a>
                <a href="#"><img src="/images/main/main_sec01_5.jpg" alt="s-banner"></a>
            </div>
        </div>
    </div>
    <div class="text_wrap">
        <div class="ttl">
            Ceramidin<br>Collection
        </div>
        <div class="txt">
            3배 늘어난 5 세라-컴플렉스와 판테놀로 촘촘하게 채워지는 피부장벽을 느껴보세요.
        </div>
        <a href="/" class="shopNow">SHOP NOW</a>
    </div>
</section>