<div>
    <div class="ttl_wrap">
        <div class="sec_ttl">Best sellers</div>
        <div class="sec_sbTtl">베스트 셀러</div>
    </div>
    <div class="slide_wrap">
        <div class="slide_ctt_box">
            <div class="cart_ico"><img src="/images/cart_ico.png" alt="cart"></div>
            <div class="best_img_box"><img src="/images/main/best_seller_1.png" alt="best_seller"></div>
            <div class="best_products_name">세라마이딘 토너</div>
            <div class="best_products_price">17,000 ₩</div>
            <div class="plus_ico"><img src="/images/plus_ico.png" alt="plus"></div>
        </div>
        <div class="slide_ctt_box">
            <div class="cart_ico"><img src="/images/cart_ico.png" alt="cart"></div>
            <div class="best_img_box"><img src="/images/main/best_seller_2.png" alt="best_seller"></div>
            <div class="best_products_name">콜라겐 마스크팩</div>
            <div class="best_products_price">20,000 ₩</div>
            <div class="plus_ico"><img src="/images/plus_ico.png" alt="plus"></div>
        </div>
        <div class="slide_ctt_box">
            <div class="cart_ico"><img src="/images/cart_ico.png" alt="cart"></div>
            <div class="best_img_box"><img src="/images/main/best_seller_3.png" alt="best_seller"></div>
            <div class="best_products_name">세라마이딘 앰플</div>
            <div class="best_products_price">21,000 ₩</div>
            <div class="plus_ico"><img src="/images/plus_ico.png" alt="plus"></div>
        </div>
        <div class="slide_ctt_box">
            <div class="cart_ico"><img src="/images/cart_ico.png" alt="cart"></div>
            <div class="best_img_box"><img src="/images/main/best_seller_4.png" style="height: 75px;" alt="best_seller"></div>
            <div class="best_products_name">콜라겐 수분크림</div>
            <div class="best_products_price">27,000 ₩</div>
            <div class="plus_ico"><img src="/images/plus_ico.png" alt="plus"></div>
        </div>
        <div class="slide_ctt_box">
            <div class="cart_ico"><img src="/images/cart_ico.png" alt="cart"></div>
            <div class="best_img_box"><img src="/images/main/best_seller_5.png" alt="best_seller"></div>
            <div class="best_products_name">부활초 토너</div>
            <div class="best_products_price">16,000 ₩</div>
            <div class="plus_ico"><img src="/images/plus_ico.png" alt="plus"></div>
        </div>
        <div class="slide_ctt_box">
            <div class="cart_ico"><img src="/images/cart_ico.png" alt="cart"></div>
            <div class="best_img_box"><img src="/images/main/best_seller_1.png" alt="best_seller"></div>
            <div class="best_products_name">세라마이딘 토너</div>
            <div class="best_products_price">17,000 ₩</div>
            <div class="plus_ico"><img src="/images/plus_ico.png" alt="plus"></div>
        </div>
        <div class="slide_ctt_box">
            <div class="cart_ico"><img src="/images/cart_ico.png" alt="cart"></div>
            <div class="best_img_box"><img src="/images/main/best_seller_3.png" alt="best_seller"></div>
            <div class="best_products_name">세라마이딘 앰플</div>
            <div class="best_products_price">21,000 ₩</div>
            <div class="plus_ico"><img src="/images/plus_ico.png" alt="plus"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
         $('.slide_wrap').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            variableWidth: true,
            autoplay : true,
            autoplaySpeed: 3500
         });
    });
 </script>