@font-face {
    font-family: 'sorts-mill-goudy';
    src: url('//fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
}